modules = ["python-3.12", "bash"]
run = "~/workspace/assignments/grade_hw.sh"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "~/workspace/assignments/grade_hw.sh"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39020776

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./assignments/grade_hw.sh"
